body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7221 {
  position:absolute;
  left:245px;
  top:56px;
  width:370px;
  height:54px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7222 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  word-wrap:break-word;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7223 {
  position:absolute;
  left:243px;
  top:109px;
  width:375px;
  height:1px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7225 {
  position:absolute;
  left:264px;
  top:70px;
  width:24px;
  height:24px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7227 {
  position:absolute;
  left:562px;
  top:75px;
}
#u7227_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background-image:none;
}
#u7227_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7228 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7229 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7227_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u7227_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7230 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7231 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7232 {
  position:absolute;
  left:244px;
  top:110px;
  width:374px;
  height:730px;
  overflow:hidden;
}
#u7232_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7236 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7237 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7238 {
  position:absolute;
  left:149px;
  top:14px;
  width:174px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7239 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
.u7240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7240 {
  position:absolute;
  left:151px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7241 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7242 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7243 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7244 {
  position:absolute;
  left:90px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7245 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7233-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:101px;
}
#u7233-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:369px;
  height:101px;
}
#u7233-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:369px;
  height:101px;
}
#u7233-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:369px;
  height:101px;
}
#u7233-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:369px;
  height:101px;
}
#u7233-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:369px;
  height:101px;
}
#u7233 {
  position:absolute;
  left:20px;
  top:20px;
  width:369px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7232_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7232_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7247 {
  position:absolute;
  left:-1px;
  top:657px;
  width:375px;
  height:73px;
}
#u7248 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7249 {
  position:absolute;
  left:49px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7250 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7251 {
  position:absolute;
  left:324px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7252 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7253 {
  position:absolute;
  left:19px;
  top:672px;
  width:20px;
  height:20px;
  overflow:hidden;
}
#u7253_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7253_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7254 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7255 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7253_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7253_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7256 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7257 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7258 {
  position:absolute;
  left:-1px;
  top:656px;
  width:375px;
  height:1px;
}
#u7259 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7262 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7263 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7264 {
  position:absolute;
  left:187px;
  top:14px;
  width:143px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7265 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
.u7266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7266 {
  position:absolute;
  left:189px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7267 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7268 {
  position:absolute;
  left:0px;
  top:31px;
  width:20px;
  height:20px;
  overflow:hidden;
}
.u7268_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7268_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7269 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7270 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7268_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7268_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7271 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7272 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7273 {
  position:absolute;
  left:38px;
  top:0px;
  width:135px;
  height:81px;
}
.u7274 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7275 {
  position:absolute;
  left:125px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7276 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7260-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:101px;
}
#u7260-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:407px;
  height:101px;
}
#u7260-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:407px;
  height:101px;
}
#u7260-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:407px;
  height:101px;
}
#u7260-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:407px;
  height:101px;
}
#u7260-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:407px;
  height:101px;
}
#u7260 {
  position:absolute;
  left:20px;
  top:20px;
  width:407px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7278 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u7279 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7280 {
  position:absolute;
  left:291px;
  top:300px;
  width:280px;
  height:159px;
  font-size:14px;
}
#u7281 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7282 {
  position:absolute;
  left:431px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u7283 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7284 {
  position:absolute;
  left:291px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#666666;
}
#u7285 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7286 {
  position:absolute;
  left:359px;
  top:335px;
  width:145px;
  height:23px;
  font-size:16px;
}
#u7287 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u7288 {
  position:absolute;
  left:291px;
  top:409px;
  width:280px;
  height:1px;
}
#u7289 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u7292 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u7293 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7294 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u7295 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7296 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u7297 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7298 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u7299 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u7300 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u7301 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7302 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u7303 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
