body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:824px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5207 {
  position:absolute;
  left:243px;
  top:24px;
  width:375px;
  height:824px;
}
#u5208 {
  position:absolute;
  left:2px;
  top:404px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u5209 {
  position:absolute;
  left:555px;
  top:80px;
  width:44px;
  height:21px;
  color:#4C59F8;
}
#u5210 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5211 {
  position:absolute;
  left:264px;
  top:76px;
  width:24px;
  height:24px;
}
#u5212 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213 {
  position:absolute;
  left:243px;
  top:280px;
}
#u5213_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  background-image:none;
}
#u5213_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5214 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5213_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5216 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5213_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5218 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5219 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5213_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5220 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5213_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5222 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5223 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5213_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5224 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5227 {
  position:absolute;
  left:416px;
  top:768px;
  width:24px;
  height:24px;
}
#u5228 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5229 {
  position:absolute;
  left:414px;
  top:794px;
  width:30px;
  height:21px;
  color:#FFFFFF;
}
#u5230 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5232 {
  position:absolute;
  left:265px;
  top:665px;
  width:352px;
  height:91px;
  overflow:hidden;
  touch-action:pan-y;
}
#u5232_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5236 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5237 {
  position:absolute;
  left:0px;
  top:66px;
  width:63px;
  height:25px;
}
#u5238 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5240 {
  position:absolute;
  left:68px;
  top:0px;
  width:63px;
  height:79px;
}
#u5241 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5242 {
  position:absolute;
  left:68px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5243 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5245 {
  position:absolute;
  left:137px;
  top:0px;
  width:63px;
  height:79px;
}
#u5246 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5247 {
  position:absolute;
  left:137px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5248 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5250 {
  position:absolute;
  left:205px;
  top:0px;
  width:63px;
  height:79px;
}
#u5251 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5252 {
  position:absolute;
  left:205px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5253 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5255 {
  position:absolute;
  left:274px;
  top:0px;
  width:63px;
  height:79px;
}
#u5256 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5257 {
  position:absolute;
  left:274px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5258 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5260 {
  position:absolute;
  left:342px;
  top:0px;
  width:63px;
  height:79px;
}
#u5261 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5262 {
  position:absolute;
  left:342px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5263 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5232_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:91px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5232_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:91px;
}
#u5266 {
  position:absolute;
  left:-56px;
  top:0px;
  width:63px;
  height:91px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:38px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5268 {
  position:absolute;
  left:-56px;
  top:66px;
  width:63px;
  height:25px;
}
#u5269 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5271 {
  position:absolute;
  left:12px;
  top:0px;
  width:63px;
  height:81px;
}
#u5272 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5273 {
  position:absolute;
  left:12px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5274 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5276 {
  position:absolute;
  left:81px;
  top:0px;
  width:63px;
  height:81px;
}
#u5277 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5278 {
  position:absolute;
  left:81px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5279 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5281 {
  position:absolute;
  left:149px;
  top:0px;
  width:63px;
  height:81px;
}
#u5282 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5283 {
  position:absolute;
  left:149px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5284 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5286 {
  position:absolute;
  left:218px;
  top:0px;
  width:63px;
  height:81px;
}
#u5287 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5288 {
  position:absolute;
  left:218px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5289 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5291 {
  position:absolute;
  left:286px;
  top:0px;
  width:63px;
  height:81px;
}
#u5292 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5293 {
  position:absolute;
  left:286px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5294 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u5297 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u5298 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u5299 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u5300 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5301 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u5302 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5303 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u5304 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u5305 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u5306 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5307 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u5308 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5309 {
  position:absolute;
  left:393px;
  top:75px;
  width:75px;
  height:26px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5310 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
