body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7199 {
  position:absolute;
  left:245px;
  top:56px;
  width:370px;
  height:54px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7200 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  word-wrap:break-word;
}
#u7201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7201 {
  position:absolute;
  left:243px;
  top:109px;
  width:375px;
  height:1px;
}
#u7202 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7203 {
  position:absolute;
  left:264px;
  top:70px;
  width:24px;
  height:24px;
}
#u7204 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7205 {
  position:absolute;
  left:562px;
  top:75px;
}
#u7205_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background-image:none;
}
#u7205_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7206 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7207 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7205_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u7205_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7208 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7209 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7210 {
  position:absolute;
  left:244px;
  top:110px;
  width:374px;
  height:730px;
  overflow:hidden;
}
#u7210_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7210_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7213 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7214 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7215 {
  position:absolute;
  left:149px;
  top:14px;
  width:174px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7216 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
.u7217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7217 {
  position:absolute;
  left:151px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7218 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7219 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7220 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7221 {
  position:absolute;
  left:90px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7222 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7211-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:101px;
}
#u7211-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:369px;
  height:101px;
}
#u7211-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:369px;
  height:101px;
}
#u7211-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:369px;
  height:101px;
}
#u7211-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:369px;
  height:101px;
}
#u7211-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:369px;
  height:101px;
}
#u7211 {
  position:absolute;
  left:20px;
  top:20px;
  width:369px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7210_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7210_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7224 {
  position:absolute;
  left:-1px;
  top:657px;
  width:375px;
  height:73px;
}
#u7225 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7226 {
  position:absolute;
  left:49px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7227 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7228 {
  position:absolute;
  left:324px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7229 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7230 {
  position:absolute;
  left:19px;
  top:672px;
  width:20px;
  height:20px;
  overflow:hidden;
}
#u7230_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7230_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7231 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7230_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7230_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7233 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7234 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7235 {
  position:absolute;
  left:-1px;
  top:656px;
  width:375px;
  height:1px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7239 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7240 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7241 {
  position:absolute;
  left:187px;
  top:14px;
  width:143px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7242 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
.u7243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7243 {
  position:absolute;
  left:189px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7244 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7245 {
  position:absolute;
  left:38px;
  top:0px;
  width:135px;
  height:81px;
}
.u7246 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7247 {
  position:absolute;
  left:0px;
  top:31px;
  width:20px;
  height:20px;
  overflow:hidden;
}
.u7247_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7247_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7248 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7249 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7247_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7247_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7250 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7251 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7252 {
  position:absolute;
  left:125px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7253 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7237-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:101px;
}
#u7237-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:407px;
  height:101px;
}
#u7237-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:407px;
  height:101px;
}
#u7237-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:407px;
  height:101px;
}
#u7237-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:407px;
  height:101px;
}
#u7237-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:407px;
  height:101px;
}
#u7237 {
  position:absolute;
  left:20px;
  top:20px;
  width:407px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7255 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u7256 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7257 {
  position:absolute;
  left:291px;
  top:300px;
  width:280px;
  height:159px;
  font-size:14px;
}
#u7258 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7259 {
  position:absolute;
  left:431px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u7260 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7261 {
  position:absolute;
  left:291px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#666666;
}
#u7262 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7263 {
  position:absolute;
  left:368px;
  top:335px;
  width:129px;
  height:23px;
  font-size:16px;
}
#u7264 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u7265 {
  position:absolute;
  left:291px;
  top:409px;
  width:280px;
  height:1px;
}
#u7266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u7269 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u7270 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7271 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u7272 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7273 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u7274 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7275 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u7276 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u7277 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u7278 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7279 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u7280 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
