body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7282 {
  position:absolute;
  left:245px;
  top:56px;
  width:370px;
  height:54px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7283 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  word-wrap:break-word;
}
#u7284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7284 {
  position:absolute;
  left:243px;
  top:109px;
  width:375px;
  height:1px;
}
#u7285 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7286 {
  position:absolute;
  left:264px;
  top:70px;
  width:24px;
  height:24px;
}
#u7287 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7288 {
  position:absolute;
  left:562px;
  top:75px;
}
#u7288_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background-image:none;
}
#u7288_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7289 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7290 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7288_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u7288_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7291 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7292 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7293 {
  position:absolute;
  left:244px;
  top:110px;
  width:374px;
  height:730px;
  overflow:hidden;
}
#u7293_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7293_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7297 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7298 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7299 {
  position:absolute;
  left:149px;
  top:14px;
  width:174px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7300 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
.u7301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7301 {
  position:absolute;
  left:151px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7302 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7303 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7304 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7305 {
  position:absolute;
  left:90px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7306 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7294-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:101px;
}
#u7294-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:369px;
  height:101px;
}
#u7294-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:369px;
  height:101px;
}
#u7294-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:369px;
  height:101px;
}
#u7294-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:369px;
  height:101px;
}
#u7294-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:369px;
  height:101px;
}
#u7294 {
  position:absolute;
  left:20px;
  top:20px;
  width:369px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7293_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7293_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7308 {
  position:absolute;
  left:-1px;
  top:657px;
  width:375px;
  height:73px;
}
#u7309 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7310 {
  position:absolute;
  left:49px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7311 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7312 {
  position:absolute;
  left:324px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7313 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7314 {
  position:absolute;
  left:19px;
  top:672px;
  width:20px;
  height:20px;
  overflow:hidden;
}
#u7314_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7314_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7315 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7316 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7314_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7314_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7317 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7318 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7319 {
  position:absolute;
  left:-1px;
  top:656px;
  width:375px;
  height:1px;
}
#u7320 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7323 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7324 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7325 {
  position:absolute;
  left:187px;
  top:14px;
  width:143px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7326 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
.u7327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7327 {
  position:absolute;
  left:189px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7328 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7329 {
  position:absolute;
  left:0px;
  top:31px;
  width:20px;
  height:20px;
  overflow:hidden;
}
.u7329_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7329_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7330 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7331 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7329_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7329_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7332 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7333 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7334 {
  position:absolute;
  left:38px;
  top:0px;
  width:135px;
  height:81px;
}
.u7335 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7336 {
  position:absolute;
  left:125px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7337 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7321-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:101px;
}
#u7321-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:407px;
  height:101px;
}
#u7321-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:407px;
  height:101px;
}
#u7321-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:407px;
  height:101px;
}
#u7321-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:407px;
  height:101px;
}
#u7321-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:407px;
  height:101px;
}
#u7321 {
  position:absolute;
  left:20px;
  top:20px;
  width:407px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7339 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u7340 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7341 {
  position:absolute;
  left:291px;
  top:300px;
  width:280px;
  height:159px;
  font-size:14px;
}
#u7342 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7343 {
  position:absolute;
  left:431px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u7344 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7345 {
  position:absolute;
  left:291px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#666666;
}
#u7346 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7347 {
  position:absolute;
  left:359px;
  top:335px;
  width:145px;
  height:23px;
  font-size:16px;
}
#u7348 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u7349 {
  position:absolute;
  left:291px;
  top:409px;
  width:280px;
  height:1px;
}
#u7350 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u7353 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u7354 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7355 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u7356 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7357 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u7358 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7359 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u7360 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u7361 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u7362 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7363 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u7364 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
