body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5944 {
  position:absolute;
  left:243px;
  top:180px;
}
#u5944_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:627px;
  background-image:none;
}
#u5944_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:457px;
}
#u5947 {
  position:absolute;
  left:2px;
  top:220px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u5949 {
  position:absolute;
  left:122px;
  top:615px;
  width:17px;
  height:1px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5951 {
  position:absolute;
  left:152px;
  top:606px;
  width:59px;
  height:21px;
}
#u5952 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u5953 {
  position:absolute;
  left:225px;
  top:616px;
  width:17px;
  height:1px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:152px;
}
.u5957 {
  position:absolute;
  left:2px;
  top:68px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u5961 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u5962 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
.u5963 {
  position:absolute;
  left:0px;
  top:132px;
  width:335px;
  height:1px;
}
.u5964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
.u5965 {
  position:absolute;
  left:45px;
  top:2px;
  width:93px;
  height:18px;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
.u5966 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
.u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5967 {
  position:absolute;
  left:45px;
  top:29px;
  width:292px;
  height:42px;
}
.u5968 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
.u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u5969 {
  position:absolute;
  left:45px;
  top:79px;
  width:286px;
  height:35px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u5970 {
  position:absolute;
  left:2px;
  top:9px;
  width:282px;
  word-wrap:break-word;
}
#u5955-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:152px;
}
#u5955-2 {
  position:absolute;
  left:0px;
  top:152px;
  width:337px;
  height:152px;
}
#u5955 {
  position:absolute;
  left:20px;
  top:0px;
  width:337px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u5972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:102px;
}
.u5973 {
  position:absolute;
  left:2px;
  top:43px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u5976 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u5977 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
.u5978 {
  position:absolute;
  left:0px;
  top:82px;
  width:335px;
  height:1px;
}
.u5979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
.u5980 {
  position:absolute;
  left:45px;
  top:2px;
  width:176px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
.u5981 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
.u5982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u5982 {
  position:absolute;
  left:45px;
  top:27px;
  width:290px;
  height:35px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u5983 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  word-wrap:break-word;
}
#u5971-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:102px;
}
#u5971-2 {
  position:absolute;
  left:0px;
  top:102px;
  width:335px;
  height:102px;
}
#u5971-3 {
  position:absolute;
  left:0px;
  top:204px;
  width:335px;
  height:102px;
}
#u5971 {
  position:absolute;
  left:20px;
  top:299px;
  width:335px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5944_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:639px;
  visibility:hidden;
  background-image:none;
}
#u5944_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:639px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:639px;
}
#u5987 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u5989 {
  position:absolute;
  left:130px;
  top:569px;
  width:17px;
  height:1px;
}
#u5990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5991 {
  position:absolute;
  left:160px;
  top:560px;
  width:59px;
  height:21px;
}
#u5992 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u5993 {
  position:absolute;
  left:233px;
  top:570px;
  width:17px;
  height:1px;
}
#u5994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u5998 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u5999 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
.u6000 {
  position:absolute;
  left:0px;
  top:90px;
  width:335px;
  height:1px;
}
.u6001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
.u6002 {
  position:absolute;
  left:45px;
  top:0px;
  width:94px;
  height:17px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
.u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
.u6004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u6004 {
  position:absolute;
  left:45px;
  top:55px;
  width:210px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u6005 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
.u6006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u6006 {
  position:absolute;
  left:45px;
  top:29px;
  width:31px;
  height:18px;
  font-size:12px;
  color:#999999;
}
.u6007 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
.u6008 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5995-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:110px;
}
#u5995-2 {
  position:absolute;
  left:0px;
  top:110px;
  width:335px;
  height:110px;
}
#u5995-3 {
  position:absolute;
  left:0px;
  top:220px;
  width:335px;
  height:110px;
}
#u5995-4 {
  position:absolute;
  left:0px;
  top:330px;
  width:335px;
  height:110px;
}
#u5995-5 {
  position:absolute;
  left:0px;
  top:440px;
  width:335px;
  height:110px;
}
#u5995 {
  position:absolute;
  left:20px;
  top:0px;
  width:335px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6010 {
  position:absolute;
  left:243px;
  top:159px;
  width:375px;
  height:1px;
}
#u6011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6014 {
  position:absolute;
  left:312px;
  top:128px;
  width:59px;
  height:21px;
}
#u6014_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6014.selected {
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6016 {
  position:absolute;
  left:482px;
  top:126px;
  width:59px;
  height:21px;
}
#u6016_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6016.selected {
}
#u6017 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6019_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:6px;
}
#u6019 {
  position:absolute;
  left:329px;
  top:157px;
  width:16px;
  height:3px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:6px;
}
#u6021 {
  position:absolute;
  left:504px;
  top:157px;
  width:16px;
  height:3px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:55px;
}
#u6024 {
  position:absolute;
  left:244px;
  top:61px;
  width:373px;
  height:54px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u6025 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6026 {
  position:absolute;
  left:262px;
  top:76px;
  width:24px;
  height:24px;
}
#u6027 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u6030 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u6031 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u6032 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u6033 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6034 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u6035 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6036 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u6037 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u6038 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u6039 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u6041 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
