body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u4051 {
  position:absolute;
  left:264px;
  top:334px;
  width:332px;
  height:1px;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
}
#u4052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u4055 {
  position:absolute;
  left:293px;
  top:300px;
  width:30px;
  height:28px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4057 {
  position:absolute;
  left:333px;
  top:304px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4058 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u4060 {
  position:absolute;
  left:503px;
  top:299px;
  width:30px;
  height:29px;
}
#u4061 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4062 {
  position:absolute;
  left:539px;
  top:304px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:167px;
}
#u4065 {
  position:absolute;
  left:264px;
  top:126px;
  width:332px;
  height:167px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:76px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u4067 {
  position:absolute;
  left:270px;
  top:132px;
  width:54px;
  height:54px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4069 {
  position:absolute;
  left:334px;
  top:132px;
  width:51px;
  height:24px;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u4071 {
  position:absolute;
  left:334px;
  top:162px;
  width:193px;
  height:17px;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u4073 {
  position:absolute;
  left:279px;
  top:216px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u4075 {
  position:absolute;
  left:279px;
  top:243px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u4076 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:62px;
}
#u4077 {
  position:absolute;
  left:523px;
  top:216px;
  width:63px;
  height:62px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:23px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4080 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:812px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4082 {
  position:absolute;
  left:243px;
  top:611px;
  width:375px;
  height:230px;
}
#u4083 {
  position:absolute;
  left:2px;
  top:107px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4084 {
  position:absolute;
  left:381px;
  top:629px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u4086 {
  position:absolute;
  left:262px;
  top:660px;
  width:337px;
  height:1px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u4088 {
  position:absolute;
  left:262px;
  top:717px;
  width:336px;
  height:1px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u4090 {
  position:absolute;
  left:262px;
  top:771px;
  width:337px;
  height:1px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4093 {
  position:absolute;
  left:414px;
  top:734px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4096 {
  position:absolute;
  left:414px;
  top:678px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u4097 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4098 {
  position:absolute;
  left:414px;
  top:789px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4099 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4101 {
  position:absolute;
  left:353px;
  top:553px;
  width:150px;
  height:112px;
}
#u4102 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4103 {
  position:absolute;
  left:393px;
  top:627px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4104 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u4105 {
  position:absolute;
  left:407px;
  top:580px;
  width:40px;
  height:31px;
}
#u4106 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4108 {
  position:absolute;
  left:581px;
  top:84px;
  width:19px;
  height:19px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:45px;
}
#u4110 {
  position:absolute;
  left:443px;
  top:72px;
  width:70px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4111 {
  position:absolute;
  left:20px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u4112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
}
#u4112 {
  position:absolute;
  left:380px;
  top:72px;
  width:63px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4113 {
  position:absolute;
  left:20px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u4114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u4114 {
  position:absolute;
  left:321px;
  top:72px;
  width:64px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4115 {
  position:absolute;
  left:20px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
#u4116 {
  position:absolute;
  left:264px;
  top:72px;
  width:67px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4117 {
  position:absolute;
  left:20px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4118 {
  position:absolute;
  left:544px;
  top:84px;
  width:20px;
  height:20px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:6px;
}
#u4120 {
  position:absolute;
  left:481px;
  top:113px;
  width:16px;
  height:3px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4124 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u4125 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4126 {
  position:absolute;
  left:291px;
  top:300px;
  width:280px;
  height:159px;
  font-size:14px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4128 {
  position:absolute;
  left:431px;
  top:409px;
  width:140px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4129 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4130 {
  position:absolute;
  left:291px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#666666;
}
#u4131 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4132 {
  position:absolute;
  left:316px;
  top:335px;
  width:234px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u4134 {
  position:absolute;
  left:291px;
  top:409px;
  width:280px;
  height:1px;
}
#u4135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:356px;
  top:261px;
  width:150px;
  height:112px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4139 {
  position:absolute;
  left:403px;
  top:335px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4140 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u4141 {
  position:absolute;
  left:410px;
  top:288px;
  width:40px;
  height:31px;
}
#u4142 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4145 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u4146 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  position:absolute;
  left:243px;
  top:592px;
  width:375px;
  height:250px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:117px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u4149 {
  position:absolute;
  left:264px;
  top:693px;
  width:335px;
  height:1px;
}
#u4150 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4151 {
  position:absolute;
  left:417px;
  top:612px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u4153 {
  position:absolute;
  left:262px;
  top:773px;
  width:336px;
  height:1px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4155 {
  position:absolute;
  left:363px;
  top:654px;
  width:142px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u4157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4157 {
  position:absolute;
  left:414px;
  top:792px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u4158 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u4160 {
  position:absolute;
  left:304px;
  top:713px;
  width:44px;
  height:44px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u4162 {
  position:absolute;
  left:315px;
  top:726px;
  width:21px;
  height:18px;
}
#u4163 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u4165 {
  position:absolute;
  left:516px;
  top:713px;
  width:44px;
  height:44px;
}
#u4166 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4167 {
  position:absolute;
  left:527px;
  top:725px;
  width:22px;
  height:20px;
}
#u4168 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u4170 {
  position:absolute;
  left:411px;
  top:713px;
  width:44px;
  height:44px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u4172 {
  position:absolute;
  left:425px;
  top:725px;
  width:18px;
  height:20px;
}
#u4173 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u4176 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u4177 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u4178 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u4179 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4180 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u4181 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4182 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u4183 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u4184 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u4185 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4186 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u4187 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
