body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1137 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:80px;
  width:1200px;
  height:900px;
  overflow:hidden;
}
#u1137_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1137_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:900px;
  overflow:hidden;
}
#u1138_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:900px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1138_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:1304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:1304px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:644px;
  width:1584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#4C59F8;
}
#u1141 {
  position:absolute;
  left:40px;
  top:60px;
  width:145px;
  height:43px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#4C59F8;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1143_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:55px;
  height:10px;
}
#u1143 {
  position:absolute;
  left:40px;
  top:128px;
  width:50px;
  height:5px;
  color:#4C59F8;
}
#u1144 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1145 {
  position:absolute;
  left:40px;
  top:165px;
  width:85px;
  height:42px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:752px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1147 {
  position:absolute;
  left:40px;
  top:232px;
  width:1119px;
  height:752px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:368px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150 {
  position:absolute;
  left:450px;
  top:263px;
  width:300px;
  height:641px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:312px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u1153 {
  position:absolute;
  left:456px;
  top:335px;
  width:290px;
  height:1px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1155 {
  position:absolute;
  left:522px;
  top:888px;
  width:156px;
  height:5px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1156 {
  position:absolute;
  left:0px;
  top:-6px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u1157 {
  position:absolute;
  left:530px;
  top:265px;
  width:140px;
  height:23px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:34px;
}
#u1159 {
  position:absolute;
  left:454px;
  top:267px;
  width:290px;
  height:34px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1161 {
  position:absolute;
  left:572px;
  top:303px;
  width:65px;
  height:23px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u1164 {
  position:absolute;
  left:568px;
  top:574px;
  width:73px;
  height:18px;
  font-size:12px;
  color:#CCCCCC;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:63px;
}
#u1166 {
  position:absolute;
  left:575px;
  top:494px;
  width:60px;
  height:63px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  position:fixed;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  overflow:hidden;
}
#u1169_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1169_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:79px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  text-align:left;
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:79px;
  text-align:left;
}
#u1171 {
  position:absolute;
  left:2px;
  top:32px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172 {
  position:fixed;
  left:50%;
  margin-left:-424.5px;
  top:14px;
}
#u1172_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:849px;
  height:46px;
  background-image:none;
}
#u1172_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1174 {
  position:absolute;
  left:250px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1174_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1174.selected {
}
#u1175 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1176 {
  position:absolute;
  left:350px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1176_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1176.selected {
}
#u1177 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1178 {
  position:absolute;
  left:450px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1178_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1178.selected {
}
#u1179 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1180 {
  position:absolute;
  left:549px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1180_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1180.selected {
}
#u1181 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1182 {
  position:absolute;
  left:649px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1182_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1182.selected {
}
#u1183 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1184 {
  position:absolute;
  left:749px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1184_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1184.selected {
}
#u1185 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1187_img {
  position:absolute;
  left:-13px;
  top:-13px;
  width:190px;
  height:423px;
}
#u1187 {
  position:absolute;
  left:517px;
  top:61px;
  width:160px;
  height:393px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:188px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u1189 {
  position:absolute;
  left:587px;
  top:54px;
  width:20px;
  height:9px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  position:absolute;
  left:566px;
  top:79px;
  width:62px;
  height:25px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1194 {
  position:absolute;
  left:540px;
  top:118px;
  width:117px;
  height:1px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  position:absolute;
  left:568px;
  top:191px;
  width:72px;
  height:25px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1199 {
  position:absolute;
  left:540px;
  top:229px;
  width:117px;
  height:1px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  position:absolute;
  left:576px;
  top:301px;
  width:53px;
  height:25px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1204 {
  position:absolute;
  left:540px;
  top:339px;
  width:117px;
  height:1px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  position:absolute;
  left:566px;
  top:355px;
  width:72px;
  height:25px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1209 {
  position:absolute;
  left:540px;
  top:397px;
  width:117px;
  height:1px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  position:absolute;
  left:566px;
  top:411px;
  width:72px;
  height:25px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1214 {
  position:absolute;
  left:540px;
  top:453px;
  width:117px;
  height:1px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1217 {
  position:absolute;
  left:567px;
  top:136px;
  width:72px;
  height:25px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1219 {
  position:absolute;
  left:539px;
  top:174px;
  width:117px;
  height:1px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1222 {
  position:absolute;
  left:568px;
  top:247px;
  width:72px;
  height:25px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1224 {
  position:absolute;
  left:540px;
  top:285px;
  width:117px;
  height:1px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
