body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7138 {
  position:absolute;
  left:245px;
  top:56px;
  width:370px;
  height:54px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u7139 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  word-wrap:break-word;
}
#u7140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7140 {
  position:absolute;
  left:243px;
  top:109px;
  width:375px;
  height:1px;
}
#u7141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7142 {
  position:absolute;
  left:264px;
  top:70px;
  width:24px;
  height:24px;
}
#u7143 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7144 {
  position:absolute;
  left:562px;
  top:75px;
}
#u7144_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background-image:none;
}
#u7144_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7145 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7146 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7144_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u7144_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u7147 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  color:#333333;
}
#u7148 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7149 {
  position:absolute;
  left:244px;
  top:110px;
  width:374px;
  height:730px;
  overflow:hidden;
}
#u7149_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7149_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7152 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7153 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7154 {
  position:absolute;
  left:149px;
  top:14px;
  width:174px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7155 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
.u7156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7156 {
  position:absolute;
  left:151px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7157 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7158 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7159 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7160 {
  position:absolute;
  left:90px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7161 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7150-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:101px;
}
#u7150-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:369px;
  height:101px;
}
#u7150-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:369px;
  height:101px;
}
#u7150-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:369px;
  height:101px;
}
#u7150-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:369px;
  height:101px;
}
#u7150-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:369px;
  height:101px;
}
#u7150 {
  position:absolute;
  left:20px;
  top:20px;
  width:369px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7149_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7149_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7163 {
  position:absolute;
  left:-1px;
  top:657px;
  width:375px;
  height:73px;
}
#u7164 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7165 {
  position:absolute;
  left:49px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7166 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u7167 {
  position:absolute;
  left:324px;
  top:670px;
  width:30px;
  height:21px;
  color:#4C59F8;
}
#u7168 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7169 {
  position:absolute;
  left:19px;
  top:672px;
  width:20px;
  height:20px;
  overflow:hidden;
}
#u7169_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7169_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7170 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7171 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7169_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7169_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7172 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7173 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7174 {
  position:absolute;
  left:-1px;
  top:656px;
  width:375px;
  height:1px;
}
#u7175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7178 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:101px;
}
.u7179 {
  position:absolute;
  left:2px;
  top:42px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7180 {
  position:absolute;
  left:187px;
  top:14px;
  width:143px;
  height:21px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
}
.u7181 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
.u7182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7182 {
  position:absolute;
  left:189px;
  top:41px;
  width:218px;
  height:18px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u7183 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
.u7184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
.u7184 {
  position:absolute;
  left:38px;
  top:0px;
  width:135px;
  height:81px;
}
.u7185 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7186 {
  position:absolute;
  left:0px;
  top:31px;
  width:20px;
  height:20px;
  overflow:hidden;
}
.u7186_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7187 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7188 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7186_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u7186_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7189 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7190 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7191 {
  position:absolute;
  left:125px;
  top:54px;
  width:39px;
  height:20px;
  font-family:'思源黑体 Medium', '思源黑体 Regular', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
.u7192 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7176-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:101px;
}
#u7176-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:407px;
  height:101px;
}
#u7176-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:407px;
  height:101px;
}
#u7176-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:407px;
  height:101px;
}
#u7176-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:407px;
  height:101px;
}
#u7176-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:407px;
  height:101px;
}
#u7176 {
  position:absolute;
  left:20px;
  top:20px;
  width:407px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7194 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u7195 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7196 {
  position:absolute;
  left:291px;
  top:300px;
  width:280px;
  height:159px;
  font-size:14px;
}
#u7197 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7198 {
  position:absolute;
  left:431px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u7199 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7200 {
  position:absolute;
  left:291px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#666666;
}
#u7201 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7202 {
  position:absolute;
  left:368px;
  top:335px;
  width:129px;
  height:23px;
  font-size:16px;
}
#u7203 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u7204 {
  position:absolute;
  left:291px;
  top:409px;
  width:280px;
  height:1px;
}
#u7205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u7208 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u7209 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u7210 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u7211 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7212 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u7213 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u7214 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u7215 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u7216 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u7217 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7218 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u7219 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
