body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1319 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:80px;
  width:1200px;
  height:900px;
  overflow:hidden;
}
#u1319_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1319_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:900px;
  overflow:hidden;
}
#u1320_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:900px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1320_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:1000px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:492px;
  width:1584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#4C59F8;
}
#u1323 {
  position:absolute;
  left:40px;
  top:60px;
  width:145px;
  height:53px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#4C59F8;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1325_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:55px;
  height:10px;
}
#u1325 {
  position:absolute;
  left:40px;
  top:128px;
  width:50px;
  height:5px;
  color:#4C59F8;
}
#u1326 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327 {
  position:absolute;
  left:39px;
  top:175px;
  width:1125px;
  height:498px;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1329 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:48px;
}
#u1330 {
  position:absolute;
  left:220px;
  top:0px;
  width:628px;
  height:48px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1331 {
  position:absolute;
  left:2px;
  top:13px;
  width:624px;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
}
#u1332 {
  position:absolute;
  left:848px;
  top:0px;
  width:141px;
  height:48px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1333 {
  position:absolute;
  left:2px;
  top:13px;
  width:137px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:48px;
}
#u1334 {
  position:absolute;
  left:989px;
  top:0px;
  width:131px;
  height:48px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1335 {
  position:absolute;
  left:2px;
  top:13px;
  width:127px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u1336 {
  position:absolute;
  left:0px;
  top:48px;
  width:220px;
  height:80px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:30px;
  width:216px;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:80px;
}
#u1338 {
  position:absolute;
  left:220px;
  top:48px;
  width:628px;
  height:80px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:20px;
  width:624px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:80px;
}
#u1340 {
  position:absolute;
  left:848px;
  top:48px;
  width:141px;
  height:80px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:32px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:80px;
}
#u1342 {
  position:absolute;
  left:989px;
  top:48px;
  width:131px;
  height:80px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:32px;
  width:127px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:87px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:128px;
  width:220px;
  height:87px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:34px;
  width:216px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:87px;
}
#u1346 {
  position:absolute;
  left:220px;
  top:128px;
  width:628px;
  height:87px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:2px;
  width:624px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:87px;
}
#u1348 {
  position:absolute;
  left:848px;
  top:128px;
  width:141px;
  height:87px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:36px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:87px;
}
#u1350 {
  position:absolute;
  left:989px;
  top:128px;
  width:131px;
  height:87px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:35px;
  width:127px;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:148px;
}
#u1352 {
  position:absolute;
  left:0px;
  top:215px;
  width:220px;
  height:148px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:64px;
  width:216px;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:148px;
}
#u1354 {
  position:absolute;
  left:220px;
  top:215px;
  width:628px;
  height:148px;
  line-height:24px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:14px;
  width:624px;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:148px;
}
#u1356 {
  position:absolute;
  left:848px;
  top:215px;
  width:141px;
  height:148px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:66px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:148px;
}
#u1358 {
  position:absolute;
  left:989px;
  top:215px;
  width:131px;
  height:148px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:66px;
  width:127px;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u1360 {
  position:absolute;
  left:0px;
  top:363px;
  width:220px;
  height:80px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:30px;
  width:216px;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:80px;
}
#u1362 {
  position:absolute;
  left:220px;
  top:363px;
  width:628px;
  height:80px;
  line-height:24px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:16px;
  width:624px;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:80px;
}
#u1364 {
  position:absolute;
  left:848px;
  top:363px;
  width:141px;
  height:80px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:32px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:80px;
}
#u1366 {
  position:absolute;
  left:989px;
  top:363px;
  width:131px;
  height:80px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:32px;
  width:127px;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1368 {
  position:absolute;
  left:0px;
  top:443px;
  width:220px;
  height:50px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:15px;
  width:216px;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:50px;
}
#u1370 {
  position:absolute;
  left:220px;
  top:443px;
  width:628px;
  height:50px;
  line-height:24px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:13px;
  width:624px;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u1372 {
  position:absolute;
  left:848px;
  top:443px;
  width:141px;
  height:50px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:50px;
}
#u1374 {
  position:absolute;
  left:989px;
  top:443px;
  width:131px;
  height:50px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:17px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377 {
  position:fixed;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  overflow:hidden;
}
#u1377_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1377_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:79px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  text-align:left;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:79px;
  text-align:left;
}
#u1379 {
  position:absolute;
  left:2px;
  top:32px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380 {
  position:fixed;
  left:50%;
  margin-left:-424.5px;
  top:14px;
}
#u1380_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:849px;
  height:46px;
  background-image:none;
}
#u1380_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1382 {
  position:absolute;
  left:250px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1382_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1382.selected {
}
#u1383 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1384 {
  position:absolute;
  left:350px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1384_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1384.selected {
}
#u1385 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1386 {
  position:absolute;
  left:450px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1386_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1386.selected {
}
#u1387 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1388 {
  position:absolute;
  left:549px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1388_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1388.selected {
}
#u1389 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1390 {
  position:absolute;
  left:649px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1390_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1390.selected {
}
#u1391 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  background:linear-gradient(90deg, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 0%, rgba(76, 89, 248, 1) 100%, rgba(76, 89, 248, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1392 {
  position:absolute;
  left:749px;
  top:6px;
  width:100px;
  height:40px;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1392_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u1392.selected {
}
#u1393 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1395_img {
  position:absolute;
  left:-13px;
  top:-13px;
  width:190px;
  height:423px;
}
#u1395 {
  position:absolute;
  left:517px;
  top:61px;
  width:160px;
  height:393px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:188px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u1397 {
  position:absolute;
  left:587px;
  top:54px;
  width:20px;
  height:9px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1400 {
  position:absolute;
  left:566px;
  top:79px;
  width:62px;
  height:25px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1402 {
  position:absolute;
  left:540px;
  top:118px;
  width:117px;
  height:1px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  position:absolute;
  left:568px;
  top:191px;
  width:72px;
  height:25px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1407 {
  position:absolute;
  left:540px;
  top:229px;
  width:117px;
  height:1px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  position:absolute;
  left:576px;
  top:301px;
  width:53px;
  height:25px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1412 {
  position:absolute;
  left:540px;
  top:339px;
  width:117px;
  height:1px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1415 {
  position:absolute;
  left:566px;
  top:355px;
  width:72px;
  height:25px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1417 {
  position:absolute;
  left:540px;
  top:397px;
  width:117px;
  height:1px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1420 {
  position:absolute;
  left:566px;
  top:411px;
  width:72px;
  height:25px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1422 {
  position:absolute;
  left:540px;
  top:453px;
  width:117px;
  height:1px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1425 {
  position:absolute;
  left:567px;
  top:136px;
  width:72px;
  height:25px;
}
#u1426 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1427 {
  position:absolute;
  left:539px;
  top:174px;
  width:117px;
  height:1px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:568px;
  top:247px;
  width:72px;
  height:25px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u1432 {
  position:absolute;
  left:540px;
  top:285px;
  width:117px;
  height:1px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
