body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:824px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5268 {
  position:absolute;
  left:243px;
  top:24px;
  width:375px;
  height:824px;
}
#u5269 {
  position:absolute;
  left:2px;
  top:404px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u5270 {
  position:absolute;
  left:555px;
  top:80px;
  width:44px;
  height:21px;
  color:#4C59F8;
}
#u5271 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5272 {
  position:absolute;
  left:264px;
  top:76px;
  width:24px;
  height:24px;
}
#u5273 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274 {
  position:absolute;
  left:243px;
  top:280px;
}
#u5274_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  background-image:none;
}
#u5274_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5275 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5276 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5274_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5278 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5274_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5279 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5280 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5274_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5282 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5274_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5283 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5284 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
  visibility:hidden;
  background-image:none;
}
#u5274_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5285 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u5286 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5288 {
  position:absolute;
  left:416px;
  top:768px;
  width:24px;
  height:24px;
}
#u5289 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5290 {
  position:absolute;
  left:414px;
  top:794px;
  width:30px;
  height:21px;
  color:#FFFFFF;
}
#u5291 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5292 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5293 {
  position:absolute;
  left:265px;
  top:665px;
  width:352px;
  height:91px;
  overflow:hidden;
  touch-action:pan-y;
}
#u5293_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5293_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5296 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5297 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5298 {
  position:absolute;
  left:0px;
  top:66px;
  width:63px;
  height:25px;
}
#u5299 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5301 {
  position:absolute;
  left:68px;
  top:0px;
  width:63px;
  height:79px;
}
#u5302 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5303 {
  position:absolute;
  left:68px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5304 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5306 {
  position:absolute;
  left:137px;
  top:0px;
  width:63px;
  height:79px;
}
#u5307 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5308 {
  position:absolute;
  left:137px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5309 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5311 {
  position:absolute;
  left:205px;
  top:0px;
  width:63px;
  height:79px;
}
#u5312 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5313 {
  position:absolute;
  left:205px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5314 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5316 {
  position:absolute;
  left:274px;
  top:0px;
  width:63px;
  height:79px;
}
#u5317 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5318 {
  position:absolute;
  left:274px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5319 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:79px;
}
#u5321 {
  position:absolute;
  left:342px;
  top:0px;
  width:63px;
  height:79px;
}
#u5322 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5323 {
  position:absolute;
  left:342px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5324 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5293_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:91px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5293_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5326 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:91px;
}
#u5327 {
  position:absolute;
  left:-56px;
  top:0px;
  width:63px;
  height:91px;
}
#u5328 {
  position:absolute;
  left:2px;
  top:38px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5329 {
  position:absolute;
  left:-56px;
  top:66px;
  width:63px;
  height:25px;
}
#u5330 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5332 {
  position:absolute;
  left:12px;
  top:0px;
  width:63px;
  height:81px;
}
#u5333 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5334 {
  position:absolute;
  left:12px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5335 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5337 {
  position:absolute;
  left:81px;
  top:0px;
  width:63px;
  height:81px;
}
#u5338 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5339 {
  position:absolute;
  left:81px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5340 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5342 {
  position:absolute;
  left:149px;
  top:0px;
  width:63px;
  height:81px;
}
#u5343 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5344 {
  position:absolute;
  left:149px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5345 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5347 {
  position:absolute;
  left:218px;
  top:0px;
  width:63px;
  height:81px;
}
#u5348 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5349 {
  position:absolute;
  left:218px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5350 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:81px;
}
#u5352 {
  position:absolute;
  left:286px;
  top:0px;
  width:63px;
  height:81px;
}
#u5353 {
  position:absolute;
  left:2px;
  top:32px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5354 {
  position:absolute;
  left:286px;
  top:66px;
  width:63px;
  height:25px;
  color:#FFFFFF;
}
#u5355 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u5358 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u5359 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u5360 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u5361 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5362 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u5363 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5364 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u5365 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u5366 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u5367 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5368 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u5369 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5370 {
  position:absolute;
  left:393px;
  top:75px;
  width:75px;
  height:26px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
