body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-214px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:55px;
}
#u6813 {
  position:absolute;
  left:245px;
  top:61px;
  width:371px;
  height:54px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u6814 {
  position:absolute;
  left:2px;
  top:14px;
  width:367px;
  word-wrap:break-word;
}
#u6815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6815 {
  position:absolute;
  left:264px;
  top:70px;
  width:24px;
  height:24px;
}
#u6816 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6819 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u6820 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6821 {
  position:absolute;
  left:291px;
  top:300px;
  width:280px;
  height:159px;
  font-size:14px;
}
#u6822 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6823 {
  position:absolute;
  left:431px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u6824 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u6825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u6825 {
  position:absolute;
  left:291px;
  top:409px;
  width:140px;
  height:50px;
  font-size:16px;
  color:#666666;
}
#u6826 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6827 {
  position:absolute;
  left:368px;
  top:335px;
  width:145px;
  height:23px;
  font-size:16px;
}
#u6828 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u6829 {
  position:absolute;
  left:291px;
  top:409px;
  width:280px;
  height:1px;
}
#u6830 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6832 {
  position:absolute;
  left:356px;
  top:261px;
  width:150px;
  height:112px;
}
#u6833 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6834 {
  position:absolute;
  left:403px;
  top:335px;
  width:73px;
  height:21px;
  color:#FFFFFF;
}
#u6835 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u6836 {
  position:absolute;
  left:410px;
  top:288px;
  width:40px;
  height:31px;
}
#u6837 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6839 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u6840 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6841 {
  position:absolute;
  left:242px;
  top:637px;
  width:375px;
  height:205px;
}
#u6842 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u6843 {
  position:absolute;
  left:244px;
  top:694px;
  width:374px;
  height:1px;
}
#u6844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u6845 {
  position:absolute;
  left:413px;
  top:656px;
  width:33px;
  height:23px;
  font-size:16px;
  color:#999999;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u6847 {
  position:absolute;
  left:244px;
  top:776px;
  width:374px;
  height:1px;
}
#u6848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u6849 {
  position:absolute;
  left:411px;
  top:796px;
  width:33px;
  height:23px;
  font-size:16px;
  color:#999999;
}
#u6850 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6852 {
  position:absolute;
  left:264px;
  top:742px;
  width:49px;
  height:18px;
  font-size:12px;
}
#u6853 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6854 {
  position:absolute;
  left:279px;
  top:714px;
  width:19px;
  height:19px;
}
#u6855 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6857 {
  position:absolute;
  left:375px;
  top:742px;
  width:49px;
  height:18px;
  font-size:12px;
}
#u6858 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6859 {
  position:absolute;
  left:390px;
  top:716px;
  width:20px;
  height:20px;
}
#u6860 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u6862 {
  position:absolute;
  left:574px;
  top:714px;
  width:22px;
  height:18px;
}
#u6863 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6864 {
  position:absolute;
  left:574px;
  top:742px;
  width:25px;
  height:18px;
  font-size:12px;
}
#u6865 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6867 {
  position:absolute;
  left:487px;
  top:742px;
  width:25px;
  height:18px;
  font-size:12px;
}
#u6868 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6869 {
  position:absolute;
  left:491px;
  top:716px;
  width:18px;
  height:18px;
}
#u6870 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6873 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:816px;
}
#u6874 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6875 {
  position:absolute;
  left:243px;
  top:592px;
  width:375px;
  height:250px;
}
#u6876 {
  position:absolute;
  left:2px;
  top:117px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u6877 {
  position:absolute;
  left:264px;
  top:693px;
  width:335px;
  height:1px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u6879 {
  position:absolute;
  left:417px;
  top:612px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u6881 {
  position:absolute;
  left:262px;
  top:773px;
  width:336px;
  height:1px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6883 {
  position:absolute;
  left:363px;
  top:654px;
  width:142px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6884 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u6885 {
  position:absolute;
  left:414px;
  top:792px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u6886 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6888 {
  position:absolute;
  left:304px;
  top:713px;
  width:44px;
  height:44px;
}
#u6889 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u6890 {
  position:absolute;
  left:315px;
  top:726px;
  width:21px;
  height:18px;
}
#u6891 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6893 {
  position:absolute;
  left:516px;
  top:713px;
  width:44px;
  height:44px;
}
#u6894 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6895 {
  position:absolute;
  left:527px;
  top:725px;
  width:22px;
  height:20px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6898 {
  position:absolute;
  left:411px;
  top:713px;
  width:44px;
  height:44px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u6900 {
  position:absolute;
  left:425px;
  top:725px;
  width:18px;
  height:20px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u6904 {
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u6906 {
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6908 {
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6910 {
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u6912 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
}
#u6913 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6914 {
  position:absolute;
  left:329px;
  top:822px;
  width:204px;
  height:8px;
}
#u6915 {
  position:absolute;
  left:2px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:167px;
}
#u6917 {
  position:absolute;
  left:264px;
  top:151px;
  width:332px;
  height:167px;
}
#u6918 {
  position:absolute;
  left:2px;
  top:76px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u6919 {
  position:absolute;
  left:270px;
  top:157px;
  width:54px;
  height:54px;
}
#u6920 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6921 {
  position:absolute;
  left:334px;
  top:157px;
  width:51px;
  height:30px;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6922 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u6923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u6923 {
  position:absolute;
  left:334px;
  top:187px;
  width:193px;
  height:18px;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u6925 {
  position:absolute;
  left:279px;
  top:241px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6927 {
  position:absolute;
  left:316px;
  top:237px;
  width:112px;
  height:25px;
}
#u6927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u6928 {
  position:absolute;
  left:279px;
  top:268px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6930 {
  position:absolute;
  left:316px;
  top:262px;
  width:112px;
  height:29px;
}
#u6930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:29px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:62px;
}
#u6931 {
  position:absolute;
  left:523px;
  top:241px;
  width:63px;
  height:62px;
}
#u6932 {
  position:absolute;
  left:2px;
  top:23px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6934 {
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:812px;
}
#u6935 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6936 {
  position:absolute;
  left:243px;
  top:611px;
  width:375px;
  height:230px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:107px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6938 {
  position:absolute;
  left:381px;
  top:629px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6940 {
  position:absolute;
  left:262px;
  top:660px;
  width:337px;
  height:1px;
}
#u6941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u6942 {
  position:absolute;
  left:262px;
  top:717px;
  width:336px;
  height:1px;
}
#u6943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6944 {
  position:absolute;
  left:262px;
  top:771px;
  width:337px;
  height:1px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u6947 {
  position:absolute;
  left:414px;
  top:734px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u6948 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u6950 {
  position:absolute;
  left:414px;
  top:678px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u6951 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6952 {
  position:absolute;
  left:414px;
  top:789px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6955 {
  position:absolute;
  left:353px;
  top:553px;
  width:150px;
  height:112px;
}
#u6956 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6957 {
  position:absolute;
  left:393px;
  top:627px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6958 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u6959 {
  position:absolute;
  left:407px;
  top:580px;
  width:40px;
  height:31px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(76, 89, 248, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6961 {
  position:absolute;
  left:291px;
  top:339px;
  width:275px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6961_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(76, 89, 248, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6961.selected {
}
#u6962 {
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
